*{
	box-sizing: border-box;
	list-style-type: none;
	margin: 0px;
	cursor: url("C:/Users/ДНС/OneDrive/Рабочий стол/HTML/Lab_4/1/images/hook.png"), pointer;
}
::-webkit-scrollbar{
	width: 15px;
}
::-webkit-scrollbar-track{
	background: #736a78;
}
::-webkit-scrollbar-thumb{
	background: linear-gradient(#7021b9, #b22352);
	border-radius: 12px;
	border: 3px solid #736a78;
}
body, html{
	color: black;
	font-size: 30px;
	background: url("C:/Users/ДНС/OneDrive/Рабочий стол/HTML/Lab_4/1/images/fon1.jpg") no-repeat center center / cover ;
}
.header{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	opacity: .8;
	background: #3d3c66;
	text-align: center;
}
#color{
	color: #00fbc1;
}
.menu{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	background: #3d3c66;
	opacity: .8;
}
.container{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr;
	grid-template-areas: 
	'item_1'
	'item_2' 
	'item_3' 
	'item_4' ;
}
.item_1{
	grid-area: item_1;
	background: #3d3c66;
	opacity: .8;
}
.item_2{
	grid-area: item_2;
	background: #3d3c66;
	opacity: .8;
}
.item_3{
	grid-area: item_3;
	background: #3d3c66;
	opacity: .8;
}
.item_4{
	grid-area: item_4;
	background: #3d3c66;
	opacity: .8;
}
.footer{
	margin-top: 10px;
}
.logo{
	background: url("") no-repeat center center / cover; 
}
.inner-header{
	height: 200px;
}
.inner-menu{
	height: 100px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
}
.inner-item_1{
	align-self: start;
	padding: 10px;
	min-height: 200px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 8fr;
	grid-template-areas: 
	'poduska poduska'
	'img-1 text-1';
}
.inner-item_2{
	align-self: start;
	padding: 10px;
	min-height: 200px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 8fr;
	grid-template-areas: 
	'grelka grelka'
	'img-2 text-2';
}
.inner-item_3{
	align-self: start;
	padding: 10px;
	min-height: 200px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 8fr;
	grid-template-areas: 
	'kruzka kruzka'
	'img-3 text-3';
}
.inner-item_4{
	align-self: start;
	padding: 10px;
	min-height: 200px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 8fr;
	grid-template-areas: 
	'proector proector'
	'img-4 text-4';
}
.inner-footer{	
	border: 2px solid black;
	opacity: .8;
	background: #3d3c66;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	color: white;
	font-size: 20px;
}
.glav{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 5px;
	color: gold;
}
.second{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 5px;
}
.third{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 5px;
	color: gold;
}
.glav:hover{
	text-shadow: 0 0 10px gold,
	0 0 30px gold,
	0 0 80px gold;
	color: red;
	border: 2px solid gold;
	cursor: pointer;
}
.second:hover{
	text-shadow: 0 0 10px gold,
	0 0 30px gold,
	0 0 80px gold;
	color: red;
	border: 2px solid gold;
	cursor: pointer;
}
.third:hover{
	text-shadow: 0 0 10px gold,
	0 0 30px gold,
	0 0 80px gold;
	color: red;
	border: 2px solid gold;
	cursor: pointer;
}
.glav>a{
	color: white;
}
.second>a{
	color: white;
}
.third>a{
	color: white;
}
.inner-header>h1{
	margin: 0px;
}
.span{
	text-align: center;
}
.an1{
	font-size: 60px;
	letter-spacing: 8px;
	margin-bottom: 20px;
	position: relative;
	background: #3d3c66;
	color: gold;
	padding: 5px;
	animation-name: text;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	text-shadow: 10 20 30px gold;
}
.an2{
	color: gold;
	font-size: 25px;
}
@keyframes text{
	5%{
		color: gold;
		text-shadow: 0 0 10px gold,
	}
	30%{
		color: gold;
		letter-spacing: 16px;
		text-shadow: 0 0 10px gold,
		0 0 30px gold;
	}
	60%{
		color: gold;
		text-shadow: 0 0 10px gold,
		0 0 30px gold,
		0 0 80px gold,
		0 0 120px red;
	}
	85%{
		color: gold;
		letter-spacing: 8px;

		text-shadow: 0 0 10px gold,
		0 0 30px gold;
	}
	95%{
		color: gold;
		text-shadow: 0 0 10px gold;
	}
}
#a:hover{
	cursor: pointer;
}
.poduska{
	font-size: 40px;
	grid-area: poduska;
}
.img-1{
	background: url("C:/Users/ДНС/OneDrive/Рабочий стол/HTML/Lab_4/2/images/img-1.jpg") no-repeat center center / cover;
	height: 200px;
	width: 200px;
	grid-area: img-1;
}
.text-1{
	grid-area: text-1;
}
.grelka{
	grid-area: grelka;
	font-size: 40px;
}
.img-2{
	grid-area: img-2;
	height: 200px;
	width: 200px;
	background: url("C:/Users/ДНС/OneDrive/Рабочий стол/HTML/Lab_4/2/images/img-2.jpg") no-repeat center center / cover;
}
.text-2{
	grid-area: text-2;
}
.kruzka{
	font-size: 40px;
	grid-area: kruzka;
}
.proector{
	font-size: 40px;
	grid-area: proector;
}
.img-3{
	grid-area: img-3;
	height: 200px;
	width: 200px;
	background: url("C:/Users/ДНС/OneDrive/Рабочий стол/HTML/Lab_4/2/images/img-3.jpg") no-repeat center center / cover;
}
.img-4{
	grid-area: img-4;
	height: 200px;
	width: 200px;
	background: url("C:/Users/ДНС/OneDrive/Рабочий стол/HTML/Lab_4/2/images/img-4.jpg") no-repeat center center / cover;
}
.text-3{
	grid-area: text-3;
}
.text-4{
	grid-area: text-4;
}
#button-4{
	color: #3d3c66;
	font-size: 20px;
	border-radius: 8px;
	border: 2px solid #3d3c66;
}
#ss:hover{
	cursor: pointer;
}
#button-4:hover{
	border-radius: 8px;
	cursor: pointer;
	border: 2px solid gold;
}
#button-3{
	color: #3d3c66;
	font-size: 20px;
	border-radius: 8px;
	border: 2px solid #3d3c66;
}
#button-2{
	color: #3d3c66;
	font-size: 20px;
	border-radius: 8px;
	border: 2px solid #3d3c66;
}
#button-1{
	color: #3d3c66;
	font-size: 20px;
	border-radius: 8px;
	border: 2px solid #3d3c66;
}
#button-3:hover{
	border-radius: 8px;
	cursor: pointer;
	border: 2px solid gold;
}
#button-2:hover{
	border-radius: 8px;
	cursor: pointer;
	border: 2px solid gold;
}
#button-1:hover{
	border-radius: 8px;
	cursor: pointer;
	border: 2px solid gold;
}
